[submodule "fluxbb"]
    path = fluxbb
    url = https://github.com/fluxbb/fluxbb.git
    branch = fluxbb-1.5-beta

[submodule "mybb"]
    path = mybb
    url = https://github.com/mybb/mybb.git
    branch = master

[submodule "phpbb"]
    path = phpbb
    url = https://github.com/phpbb/phpbb.git
    branch = 3.1.x

[submodule "smf"]
    path = smf
    url = https://github.com/SimpleMachines/SMF2.1.git
    branch = release-2.1

[submodule "vanilla"]
    path = vanilla
    url = https://github.com/vanilla/vanilla.git
    branch = "release/2.2"

[submodule "wordpress"]
    path = wp
    url = https://github.com/WordPress/WordPress.git
    branch = 4.3